name: Build multiple
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      architecture:
        type: string
        required: false
        default: "x86-64"
      build_legacy:
        type: boolean
        required: false
        default: true
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [tester]
        language: [grpc_cpp, grcp_py, proto_descriptor]
    steps:
      - name: Get branch names
        id: branch-name
        uses: tj-actions/branch-names@v7
      - uses: actions/checkout@v4
        with:
          path: action
          ref: refs/heads/${{ steps.branch-name.outputs.current_branch }}
      - name: Build
        uses: ./action/.github/actions/build
        with:
          nixpkgs: ${{ inputs.branch }}
          style: main
          generator: ${{ matrix.language }}
          branch: ${{ steps.branch-name.outputs.current_branch }}
          architecture: ${{ inputs.architecture }}
      - name: Build Legacy
        if: ${{ inputs.build_legacy }} == true
        uses: ./action/.github/actions/build
        with:
          nixpkgs: ${{ inputs.branch }}
          style: legacy-meta
          generator: ${{ matrix.language }}
          branch: ${{ steps.branch-name.outputs.current_branch }}
          architecture: ${{ inputs.architecture }}
